body {
  background: lightyellow;
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkblue;
  margin-bottom: 70px;
}
img {
  width: 300px;
}
h1,
h2,
h3 {
  padding: 20px;
  font-family: "Italianno", cursive;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 42px;
}
