:root {
  --lightcolor: #ffffe0;
  --darkcolor: #00008b;
}

body {
  background: var(--lightcolor);
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--darkcolor);
  margin-bottom: 70px;
  text-align: center;
}
img {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
h1,
h2,
h3 {
  padding: 10px 20px 5px 20px;
  font-family: "Italianno", cursive;
  text-align: center;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 42px;
}
li {
  list-style: none;
}
.leicon {
  width: 60px;
  border-radius: 50%;
}
